# caddy run
{
    #debug
    admin off
    auto_https off
    http_port 8080
}

localhost:8080 {
    root {$PWD}

    redir /ip /?host={remote_host}&port={remote_port}

    handle {
        file_server
    }
}
